.col-md-3.col-sm-3.col-xs-3.padlr-5 {
    display:none
}
/* DELETE above styles */
/* common styles */
.eve {
    overflow:hidden
}
b.big {
    font-size:2em;
    font-weight:bold
}
.eve_bold {
    font-weight:bold
}
.eve_relative {
    position:relative
}
.eve_tr {
     -webkit-transition: width ease-out 0.3s;
     -moz-transition: width ease-out 0.3s;
     -o-transition: width ease-out 0.3s;
     transition: width ease-out 0.3s;
}
.scroller {
    white-space: normal;
    height: 480px;
    margin-top:5px;
    overflow-y: hidden;
    position: relative;
}
.fc-day-grid-container.fc-scroller {
    overflow:hidden
}
input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus {
    outline:none !important
}
.eve_nopad {
    padding:0
}
.eve_bg {
    background:#3c3c3c
}
.eve_hl,
.eve_hl label {
    color:#D49742 !important
}
.eve_hlbg {
    background: #D49742;
    color:#fff
}
.eve_cp {
    cursor:pointer
}
.eve_ma {
    margin:0 auto;
    display:block
}
.eve_ma_inln {
    margin:0 auto;
    text-align:center;
    display:inline-block;
}
.eve_top15 {
    margin-top:15px
}
.eve_right15 {
    margin-right:15px
}
.eve_top7 {
    margin-top: 7px;
    margin-bottom: 0;
}
.eve_w100 {
    width:100% !important;
    min-width: 100% !important;
}
/* top user styles */
a.eve_white {
    color: #fff;
    outline: none !important;
    display: inline-block;
    margin-left: 10px;
}
a.eve_white:hover {
    color:#e6e6e6;
    text-decoration: none
}
a.eve_white span.eve_border {
    background: #3c3c3c;
    display: block;
    padding: 5px 10px;
    margin-top: -3px;
    border-radius: 2px;
}
/* Top Calendar */
tbody.fc-body td {
    cursor: pointer;
}
.fc-toolbar {
    display:none
}

    /* exp date */
.eve_exp .fc-body>tr>td.fc-widget-content {
    position: relative;
    cursor: default;
    overflow: hidden;
}
.eve_exp .fc-body>tr>td.fc-widget-content:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.5);
    z-index: 99;
}
.eve_exp .fc-body>tr>td.fc-widget-content:after {
    content: 'EXPIRED EVENTS';
    position: absolute;
    color: #fff;
    font-weight: bold;
    z-index: 99999;
    font-size: 2em;
    height: 42px;
    width: 100%;
    text-align: center;
    top: 50%;
    margin-top: -39px;
}
 /* EXP date / */
.eve_clnd {
    margin-top: 8px;
    margin-left: 5px;
}
.eve_common .eve_btn-default {
    margin-top:8px
}
.eve_common label {
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    line-height: 2.5em;
}
.eve_common .eve_label_min label {
    line-height:1em
}
/* Top second line */
.eve_date {
    font-weight:bold;
    padding: 4px 0;
    font-size: 1.2em;
}
.eve_arr:hover {
    color:#2b2b2b
}
.eve_arr {
    margin-top:2px
}
.eve_mw35 {
    max-width: 35px !important;
    float: left;
    margin-right:10px
}
/* EVENT BAR */
.eve_eventbar {
    color: #fff;
    line-height: 1.25em;
    padding-left: 0;
    padding-right: 30px;
}
.eve_num {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 2em;
    padding-left: 10px;
}
.eve_nopad-r,
.parent.eve_nopad-r * {
    padding-right:0
}
/* MAIN BAR */
.eve_mainbar {
    border:3px solid #a900ff;
    position: relative;
    overflow: hidden;
}
.eve_mainbar_arr {
    position: absolute;
    top: 50%;
    margin-top: -17px;
}
.eve_mainbar_arr.ar_left {
    left:15px
}
.eve_mainbar_arr.ar_right {
    right:15px
}
/* CALENDAR */
.eve_calendar {
    background: #fff;
}
.fc-widget-header {
    border-bottom:0 !important;
    background:#d49742;
}
.eve_clnd_btop {
    border-top-color:#d49742
}
.eve_clnd_bbottom {
    border-bottom-color:#d49742
}
.eve_clnd_bleft {
    border-left-color:#d49742
}
.eve_clnd_bright {
    border-right-color:#d49742
}
.fc-widget-header th {
    color:#fff;
    font-weight:bold;
    border-bottom:0
}
.fc-ltr .fc-basic-view .fc-day-number {
    color: #d49742;
    font-weight: bold;
}
.fc-unthemed th, .fc-unthemed td, .fc-unthemed hr, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-row, .fc-unthemed .fc-popover {
    border-color: #8b8b8b;
}
.fc-unthemed .fc-today {
    background: #ffffff;
    border-color: #d49742;
}
td.fc-other-month {
    background: #fff6ea;
}
.fc-event {
    border-radius: 0;
    border: 1px solid #2b2b2b;
    background-color: #3c3c3c;
    text-align: center;
}
/* USER BAR */
.eve_username {
    font-size:1.5em;
    color:#d49742;
    font-weight:bold;
}
.eve_userpic {
    padding-right:10px;
}
.eve_user_hof {
    color:#d49742;
    font-weight:bold
}
.eve_user_hof td {
    padding-top: 10px;
    vertical-align: middle;
    line-height: 15px;
}
.eve_userpanel {
    padding-top:28px;
    color:#d49742;
    margin-right:-25%
}
.eve_user_events_details {
    line-height:2.6em
}
.eve_user_events_list {
    font-size:.7em
}
/* EVENT LIST */
.eve_user_event {
    color:#d49742;
    font-weight: bold;
    margin-bottom:3px;
    position:relative;
    overflow:hidden
}
a.eve_user_event:hover {
    color:#d49742;
}
.eve_user_event .fc-content {
    display:none
}
.month_view .fc-content-skeleton>table>tbody>tr+tr {
    display: none;
}
.month_view .fc-content-skeleton>table>tbody>tr>td {
    vertical-align: bottom;
}
.fc-ltr .fc-basic-view .fc-day-number {
    text-shadow:0px 0px 1px #fff,0px 0px 1px #fff,0px 0px 1px #fff,0px 0px 1px #fff,0px 0px 1px #fff,0px 0px 1px #fff,0px 0px 1px #fff,0px 0px 1px #fff,0px 0px 1px #fff,0px 0px 1px #fff;
}
.fc-content-skeleton thead:after {
    content: '';
    position: relative;
    padding-top: 15px;
    display: block;
}
body .month_view td.fc-day {
    background:#fff !important;
}
.fc-basicDay-view td.fc-day {
    background: #3c3c3c !important;
}
.fc-day-grid-event .fc-time {
    display: none;
}
/*.eve_paid_event .fc-content {
    display: none;
}*/
.eve_title,
label {
    color:#5299c7;
    font-weight: bold;
}
.eve_event_promo {
/*    margin-top: -36px;
    font-size: .6em;
    padding-right: 1px;
*/
    margin-top: 0;
    font-size: .6em;
    padding-right: 1px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.fc-day-grid-event {
    margin: 0;
}
.eve_bbox {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.eve_bbox img {
    max-height: 100px;
}
/* popup Details*/
#contactSuccess {
    font-size:1.5em
}
/* colors */
.color_cyan {
    color:#00fdff
}
.color_purple {
    color:#a900ff
}
.color_green {
    color:#00ff00
}
.color_yellow {
    color:#fffb00
}
/* borders */
.border_cyan {
    border: 2px solid #00fdff
}
.border_purple {
    border: 2px solid #a900ff
}
.border_green {
    border: 2px solid #00ff00
}
.border_yellow {
    border: 2px solid #fffb00
}

.bgr-cyan {
    background: #00fdff;
}
.bgr-purple {
    background: #a900ff;
}
.bgr-green {
    background: #00ff00;
}
.bgr-yellow {
    background: #fffb00;
}
.bgr-red {
    background: #c50000;
    color:#fff !important
}
.bgr-blue {
    background:#5299c7;
    color:#fff !important
}
.bgr-red:hover,
.bgr-blue:hover {
    color:#333 !important
}

/* top dark buttons */
.eve_btn-default {
    background: #2b2b2b;
    border-radius: 20px;
    font-weight: bold;
    color:#fff;
}
.eve_btn-default:hover,
.eve_btn-default:focus,
.eve_btn-default:active {
    color:#3399cc;
    outline:none
}

.eve_btn-donate {
    border-radius: 0;
    background: #636260;
    color: #fff;
    border: 0;
}
.eve_btn-add {
    background: #5299c7;
    border-radius: 20px;
    font-weight: bold;
    color:#fff;
    position: absolute;
    bottom: 20px;
    width: 120px;
    left: 50%;
    margin-left: -60px;
}
.eve_btn-contactuser {
    background: #5299c7;
    border-radius: 20px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    bottom: 20px;
    width: 148px;
    left: 50%;
    margin-left: -74px;
}
.eve_btn-eventinfo {
    background: #5299c7;
    border-radius: 20px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    bottom: 60px;
    width: 148px;
    left: 50%;
    margin-left: -74px;    
}
.eve_btn-color {
    border-radius: 20px;
    font-weight: bold;
    margin: 0 auto;
    color:#d49742;
    margin-bottom:10px;
    width:100%;
    max-width: 160px;
}

/* Carousel buttons */
.slick-slider,
.slick-slider img{
    max-height:100px
}
.slick-slide img {
    max-height:100%
}
.slick-next {
  right:10px
}
.slick-prev {
  left:10px
}
.slick-next,
.slick-prev {
 font-size:0;
  border:0;
  background:0;
  position:absolute;
  top:50%;
  margin-top:-6px;
  outline:none !important;
  z-index:10
}
.slick-next:before {
    content: "\f138";
}
.slick-prev:before {
    content: "\f137";
}
.slick-prev:before, .slick-next:before {
    font-family: "fontawesome";
    font-size: 30px;
    line-height: 1;
    color: white;
    opacity: 0.85;
    color:#636363
}
.slick-prev:hover:before,
.slick-next:hover:before {
    color:#2b2b2b
}
/* PopUp styles */
.eve_black_bg {
    color:#d49742;
    background: #2b2b2b;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
.eve_black_bg .col-xs-8.input-group {
    margin-bottom: 5px;
}
.eve_black_bg:last-child {
    margin-bottom: 0;
}
.has-error label {
    color:red
}
/* FANCYBOX */
.fancybox-wrap {
    z-index:1999;
    background: #3c3c3c;
    border-radius: 20px;
}
.fancybox-wrap:focus {
    outline:none !important
}
.fancybox-inner {
    overflow:hidden !important
}
.fancybox-close {
    position: absolute;
    top: -15px;
    right: -7px;
    width: 25px;
    height: 30px;
    background: none;
    cursor: pointer;
    z-index: 2000;
}
.fancybox-close:before {
    content: "\f00d";
    position: absolute;
    font-family: 'fontawesome';
    font-size: 2em;
    color: #fff;
}
.fancybox-overlay {
    background: rgba(43,43,43,0.5);
    width: 100% !important;
    height: 100% !important;
    position: fixed;
    z-index: 1900;
    top: 0;
    left: 0;
}