            <div id="addEvent" class="eve_nopad">

                <form name="addEventForm" novalidate>

                <div>

                    <div class="col-xs-12 eve_black_bg text-center">
                        <img src="http://gamersseal.com/beta/skin/frontend/rwd/default/images/media/logo.png" class="eve_mw35">
                        <b class=big>ADD EVENTS</b>
                    </div>

                    <div class="col-xs-12 eve_black_bg">

                        <div class="col-xs-8">
                            <div class="row"
                            ng-class="{ 'has-error' : addEventForm.event_name.$invalid && !addEventForm.event_name.$pristine }">
                                <div class="col-xs-4">
                                    <label for="event_name">Event Name</label>
                                </div>
                                <div class="col-xs-8 input-group">
                                    <input type="text" class="form-control"
                                    ng-model="newEvent.title"
                                    ng-minlength="3" ng-maxlength="30"
                                    ng-pattern="/^[0-9a-zA-Z\s]*$/"
                                    id="event_name" name="event_name" required>
                                </div>
                            </div>

                            <div class="row"
                            ng-class="{ 'has-error' : addEventForm.event_date.$invalid && !addEventForm.event_date.$pristine }">
                                <div class="col-xs-4">
                                    <label for="event_date">Event Date</label>
                                </div>
                                <div class="col-xs-8 input-group">
                                    <div class="input-group" moment-picker="newEvent.event_day" format="YYYY-MM-DD">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                        <input id="event_date" class="form-control"
                                               placeholder="Select a date"
                                               ng-model="newEvent.event_day"
                                               ng-model-options="{ updateOn: 'blur' }"
                                               ng-minlength="3" ng-maxlength="30"
                                               name="event_date" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row"
                            ng-class="{ 'has-error' : addEventForm.event_start.$invalid && !addEventForm.event_start.$pristine }">
                                <div class="col-xs-4">
                                    <label for="event_start">Start Time</label>
                                </div>
                                <div class="col-xs-8 input-group">
                                    <div class="input-group" moment-picker="newEvent.start_time" format="HH:mm">
                                        <span class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </span>
                                        <input id="event_start" class="form-control"
                                               placeholder="Select a time"
                                               ng-model="newEvent.start_time"
                                               ng-model-options="{ updateOn: 'blur' }"
                                               ng-minlength="3" ng-maxlength="30"
                                               name="event_start" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row"
                            ng-class="{ 'has-error' : addEventForm.event_end.$invalid && !addEventForm.event_end.$pristine }">
                                <div class="col-xs-4">
                                    <label for="event_end">End Time</label>
                                </div>
                                <div class="col-xs-8 input-group">
                                    <div class="input-group" moment-picker="newEvent.end_time" format="HH:mm">
                                        <span class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </span>
                                        <input id="event_end" class="form-control"
                                               placeholder="Select a time"
                                               ng-model="newEvent.end_time"
                                               ng-model-options="{ updateOn: 'blur' }"
                                               ng-minlength="3" ng-maxlength="30"
                                               name="event_end" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row"
                            ng-class="{ 'has-error' : addEventForm.event_loc.$invalid && !addEventForm.event_loc.$pristine }">
                                <div class="col-xs-4">
                                    <label for="event_loc">Location</label>
                                </div>
                                <div class="col-xs-8 input-group">
                                    <input type="text" class="form-control"
                                    ng-model="newEvent.address"
                                    id="event_loc" name="event_loc"
                                    ng-minlength="1" ng-maxlength="40"
                                    ng-pattern="/^[a-zA-Z\s-_]+$/"
                                    required>
                                </div>
                            </div>

                            <div class="row"
                            ng-class="{ 'has-error' : addEventForm.event_state.$invalid && !addEventForm.event_state.$pristine }">
                                <div class="col-xs-4">
                                    <label for="event_state">State</label>
                                </div>
                                <div class="col-xs-8 input-group">
                                    <select ng-model="newEvent.state" class="form-control"
                                    id="event_state" name="event_state"
                                    ng-minlength="2" ng-maxlength="30"
                                    required>
                                        <option value="NSW">NSW</option>
                                        <option value="SA">SA</option>
                                        <option value="NT">NT</option>
                                        <option value="VIC">VIC</option>
                                        <option value="QLD">QLD</option>
                                        <option value="WA">WA</option>
                                        <option value="TAS">TAS</option>
                                    </select>
                                </div>
                            </div>

                            <!--div class="row">
                                <div class="col-xs-4"><label for="event_adm">Admission</label></div>
                                <div class="col-xs-8 input-group">
                                    <input type="text" class="form-control" ng-model="newEvent.admission" id="event_adm">
                                </div>
                            </div-->

                            <div class="row"
                            ng-class="{ 'has-error' : addEventForm.event_cost.$invalid && !addEventForm.event_cost.$pristine }">
                                <div class="col-xs-4">
                                    <label for="event_cost">Ticket Cost</label>
                                </div>
                                <div class="col-xs-8 input-group">
                                    <input type="number" class="form-control"
                                    ng-model="newEvent.ticket_cost"
                                    id="event_cost" name="event_cost"
                                    ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                                    ng-max="999"
                                    required>
                                </div>
                            </div>

                            <div class="row"
                            ng-class="{ 'has-error' : addEventForm.event_age.$invalid && !addEventForm.event_age.$pristine }">
                                <div class="col-xs-4">
                                    <label for="event_age">Age Group</label>
                                </div>
                                <div class="col-xs-8 input-group">
                                    <input type="text" class="form-control"
                                    ng-model="newEvent.age"
                                    id="event_age" name="event_age"
                                    ng-pattern="/^[0-9,+]+$/"
                                    ng-minlength="1" ng-maxlength="30"
                                    required>
                                </div>
                            </div>

                            <div class="row"
                            ng-class="{ 'has-error' : addEventForm.event_dress.$invalid && !addEventForm.event_dress.$pristine }">
                                <div class="col-xs-4">
                                    <label for="event_dress">Dress Code</label>
                                </div>
                                <div class="col-xs-8 input-group">
                                    <input type="text" class="form-control"
                                    ng-model="newEvent.dress_code"
                                    id="event_dress"
                                    ng-minlength="1" ng-maxlength="20"
                                    ng-pattern="/^[a-zA-Z\s]*$/"
                                    name="event_dress" required>
                                </div>
                            </div>

                            <div class="row"
                            ng-class="{ 'has-error' : addEventForm.event_contact.$invalid && !addEventForm.event_contact.$pristine }">
                                <div class="col-xs-4">
                                    <label for="event_contact">Point of Contact</label>
                                </div>
                                <div class="col-xs-8 input-group">
                                    <input type="text" class="form-control"
                                    ng-model="newEvent.point_contact"
                                    id="event_contact"
                                    ng-minlength="1" ng-maxlength="30"
                                    ng-pattern="/^[0-9a-zA-Z\s]*$/"
                                    name="event_contact" required>
                                </div>
                            </div>

                            <div class="row"
                            ng-class="{ 'has-error' : addEventForm.event_desc.$invalid && !addEventForm.event_desc.$pristine }">
                                <div class="col-xs-4">
                                    <label for="event_desc">Event Description</label>
                                </div>
                                <div class="col-xs-8 input-group">
                                    <textarea  ng-model="newEvent.purpose_description"
                                    id="event_desc"
                                    class="form-control" rows="10"
                                    ng-minlength="3" ng-maxlength="100"
                                    ng-pattern="/^[0-9a-zA-Z\s]*$/"
                                    name="event_desc" required></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-4 text-center">
                            <div class="col-xs-12 col-offset-xs-2">

                                <div class="button" ngf-select ng-model="newEvent.file" name="file" ngf-pattern="'image/*'"
                                ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" 
                                ngf-resize="{width: 300, height: 200}" ng-change="newEvent.image = newEvent.file.$ngfName">Select image</div>

                                <img ngf-thumbnail="newEvent.file" ng-show="newEvent.file" style="margin: 0 auto;padding-top: 20px;max-height: 100px;">

                            </div>

                            <div class="clearfix"></div>

                            <br>

                            <!--<a ng-click="addEvent('Premium')" class="btn eve_btn-color bgr-purple"
                            ng-disabled="addEventForm.$invalid || !newEvent.image || sentAdd">
                                Add Premium Event
                            </a><br>-->

                            <a ng-click="addEventForm.$invalid || !newEvent.image || sentAdd || addEvent('Paid')" class="btn eve_btn-color bgr-cyan"
                            ng-disabled="addEventForm.$invalid || !newEvent.image || sentAdd">
                                Add Paid Event
                            </a><br>

                            <a ng-click="addEventForm.$invalid || !newEvent.image || sentAdd || addEvent('Free')" class="btn eve_btn-color bgr-yellow"
                            ng-disabled="addEventForm.$invalid || !newEvent.image || sentAdd">
                                Add Free Event
                            </a><br>

                        </div>

                    </div>
                </div> <!-- send Add -->
                </form>
            </div>

            <!-- add event / -->