            <div id="editEvent" class="eve_nopad">

                <form name="editEventForm" novalidate>

                <div ng-hide="switched">

                    <div class="col-xs-12 eve_black_bg text-center">
                        <img src="http://gamersseal.com/beta/skin/frontend/rwd/default/images/media/logo.png" class="eve_mw35">
                        <b class=big>EDIT EVENT</b>
                    </div>

                    <div class="col-xs-12 eve_black_bg">

                        <div class="col-xs-8">
                            <div class="row"
                            ng-class="{ 'has-error' : editEventForm.event_name.$invalid && !editEventForm.event_name.$pristine }">
                                <div class="col-xs-4">
                                    <label for="event_name">Event Name</label>
                                </div>
                                <div class="col-xs-8 input-group">
                                    <input type="text" class="form-control"
                                    ng-model="chEvent.event.title"
                                    ng-minlength="3" ng-maxlength="30"
                                    ng-pattern="/^[0-9a-zA-Z\s]*$/"
                                    id="event_name" name="event_name" required>
                                </div>
                            </div>

                            <div class="row"
                            ng-class="{ 'has-error' : editEventForm.event_date.$invalid && !editEventForm.event_date.$pristine }">
                                <div class="col-xs-4">
                                    <label for="event_date">Event Date</label>
                                </div>
                                <div class="col-xs-8 input-group">
                                    <div class="input-group" moment-picker="chEvent.event.event_day" format="YYYY-MM-DD">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                        <input id="event_date" class="form-control"
                                               placeholder="Select a date"
                                               ng-model="chEvent.event.event_day"
                                               ng-model-options="{ updateOn: 'blur' }"
                                               ng-minlength="3" ng-maxlength="30"
                                               name="event_date" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row"
                            ng-class="{ 'has-error' : editEventForm.event_start.$invalid && !editEventForm.event_start.$pristine }">
                                <div class="col-xs-4">
                                    <label for="event_start">Start Time</label>
                                </div>
                                <div class="col-xs-8 input-group">
                                    <div class="input-group" moment-picker="chEvent.event.estart" format="HH:mm">
                                        <span class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </span>
                                        <input id="event_start" class="form-control"
                                               placeholder="Select a time"
                                               ng-model="chEvent.event.estart"
                                               ng-model-options="{ updateOn: 'blur' }"
                                               ng-minlength="3" ng-maxlength="30"
                                               name="event_start" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row"
                            ng-class="{ 'has-error' : editEventForm.event_end.$invalid && !editEventForm.event_end.$pristine }">
                                <div class="col-xs-4">
                                    <label for="event_end">End Time</label>
                                </div>
                                <div class="col-xs-8 input-group">
                                    <div class="input-group" moment-picker="chEvent.event.eend" format="HH:mm">
                                        <span class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </span>
                                        <input id="event_end" class="form-control"
                                               placeholder="Select a time"
                                               ng-model="chEvent.event.eend"
                                               ng-model-options="{ updateOn: 'blur' }"
                                               ng-minlength="3" ng-maxlength="30"
                                               name="event_end" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row"
                            ng-class="{ 'has-error' : editEventForm.event_loc.$invalid && !editEventForm.event_loc.$pristine }">
                                <div class="col-xs-4">
                                    <label for="event_loc">Location</label>
                                </div>
                                <div class="col-xs-8 input-group">
                                    <input type="text" class="form-control"
                                    ng-model="chEvent.event.loc"
                                    id="event_loc" name="event_loc"
                                    ng-minlength="1" ng-maxlength="40"
                                    ng-pattern="/^[a-zA-Z\s-_]+$/"
                                    required>
                                </div>
                            </div>

                            <div class="row"
                            ng-class="{ 'has-error' : editEventForm.event_state.$invalid && !editEventForm.event_state.$pristine }">
                                <div class="col-xs-4">
                                    <label for="event_state">State</label>
                                </div>
                                <div class="col-xs-8 input-group">
                                    <select ng-model="chEvent.event.state" class="form-control"
                                    id="event_state" name="event_state"
                                    ng-minlength="2" ng-maxlength="30"
                                    required>
                                        <option value="NSW">NSW</option>
                                        <option value="SA">SA</option>
                                        <option value="NT">NT</option>
                                        <option value="VIC">VIC</option>
                                        <option value="QLD">QLD</option>
                                        <option value="WA">WA</option>
                                        <option value="TAS">TAS</option>
                                    </select>
                                </div>
                            </div>

                            <!--div class="row">
                                <div class="col-xs-4"><label for="event_adm">Admission</label></div>
                                <div class="col-xs-8 input-group">
                                    <input type="text" class="form-control" ng-model="chEvent.event.admission" id="event_adm">
                                </div>
                            </div-->

                            <div class="row"
                            ng-class="{ 'has-error' : editEventForm.event_cost.$invalid && !editEventForm.event_cost.$pristine }">
                                <div class="col-xs-4">
                                    <label for="event_cost">Ticket Cost</label>
                                </div>
                                <div class="col-xs-8 input-group">
                                    <input type="text" class="form-control"
                                    ng-model="chEvent.event.cost"
                                    id="event_cost" name="event_cost"
                                    ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                                    ng-max="999"
                                    required>
                                </div>
                            </div>

                            <div class="row"
                            ng-class="{ 'has-error' : editEventForm.event_age.$invalid && !editEventForm.event_age.$pristine }">
                                <div class="col-xs-4">
                                    <label for="event_age">Age Group</label>
                                </div>
                                <div class="col-xs-8 input-group">
                                    <input type="text" class="form-control"
                                    ng-model="chEvent.event.age"
                                    id="event_age" name="event_age"
                                    ng-pattern="/^[0-9,+]+$/"
                                    ng-minlength="1" ng-maxlength="30"
                                    required>
                                </div>
                            </div>

                            <div class="row"
                            ng-class="{ 'has-error' : editEventForm.event_dress.$invalid && !editEventForm.event_dress.$pristine }">
                                <div class="col-xs-4">
                                    <label for="event_dress">Dress Code</label>
                                </div>
                                <div class="col-xs-8 input-group">
                                    <input type="text" class="form-control"
                                    ng-model="chEvent.event.dress"
                                    id="event_dress"
                                    ng-minlength="1" ng-maxlength="20"
                                    ng-pattern="/^[a-zA-Z\s]*$/"
                                    name="event_dress" required>
                                </div>
                            </div>

                            <div class="row"
                            ng-class="{ 'has-error' : editEventForm.event_contact.$invalid && !editEventForm.event_contact.$pristine }">
                                <div class="col-xs-4">
                                    <label for="event_contact">Point of Contact</label>
                                </div>
                                <div class="col-xs-8 input-group">
                                    <input type="text" class="form-control"
                                    ng-model="chEvent.event.contact"
                                    id="event_contact"
                                    ng-minlength="1" ng-maxlength="30"
                                    ng-pattern="/^[0-9a-zA-Z\s]*$/"
                                    name="event_contact" required>
                                </div>
                            </div>

                            <div class="row"
                            ng-class="{ 'has-error' : editEventForm.event_desc.$invalid && !editEventForm.event_desc.$pristine }">
                                <div class="col-xs-4">
                                    <label for="event_desc">Event Description</label>
                                </div>
                                <div class="col-xs-8 input-group">
                                    <textarea  ng-model="chEvent.event.desc"
                                    id="event_desc"
                                    class="form-control" rows="10"
                                    ng-minlength="3" ng-maxlength="100"
                                    ng-pattern="/^[0-9a-zA-Z\s]*$/"
                                    name="event_desc" required></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-4 text-center">
                            <div class="col-xs-12 col-offset-xs-2">

                                <div class="button" ngf-select ng-model="chEvent.event.file" name="file" ngf-pattern="'image/*'"
                                ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" 
                                ngf-resize="{width: 300, height: 200}" ng-change="chEvent.event.image = chEvent.event.file.$ngfName">Select new image</div>

                                <img ngf-thumbnail="chEvent.event.file" ng-show="chEvent.event.file" style="margin: 0 auto;padding-top: 20px;max-height: 100px;">
                                <img ng-src="/beta/media/customer/{{chEvent.event.image}}" ng-show="!chEvent.event.file" ng-hide="sentEdit" style="max-height: 100px;margin: 0 auto;padding-top: 20px;">

                            </div>

                            <div class="clearfix"></div>

                            <br>

                            <a ng-click="editEventForm.$invalid || !chEvent.event.image || sentEdit || switchToConfirm('Del')" class="btn eve_btn-color bgr-red"
                            ng-disabled="editEventForm.$invalid || !chEvent.event.image || sentEdit">
                                Delete Event
                            </a><br>

                            <a ng-click="editEventForm.$invalid || !chEvent.event.image || sentEdit || editEvent('Upd')" class="btn eve_btn-color bgr-blue"
                            ng-disabled="editEventForm.$invalid || !chEvent.event.image || sentEdit">
                                Update Event
                            </a><br>

                        </div>

                    </div>
                </div> <!-- send Edit -->
                <div ng-show="switched" class="eve_black_bg">
                    <div class="col-xs-12 text-center">
                        <b class="big">Delete Event?</b>
                    </div>
                    <div class="col-xs-12 eve_top15">
                        <div class="col-xs-6 text-right">
                            <a ng-click="switchToConfirm('Back')" class="btn eve_btn-color bgr-blue">
                                Cancel
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <a ng-click="editEvent('Del')" class="btn eve_btn-color bgr-red">
                                Delete
                            </a>                            
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                </form>
            </div>

            <!-- edit event / -->