
            <div id="viewEvent" class="col-xs-12 eve_nopad">
                <form name="feedbackForm" ng-submit="sendEnquiry()" novalidate>
                <table style="width:100%" class="col-xs-12">
                    <tbody>
                        <tr>
                            <td style="width:70%">
                                <table class="col-xs-12">
                                <tr>
                                    <td>
                                        <div class="eve_black_bg">
                                            <div class="col-xs-12 text-center eve_nopad">
                                                <img ng-if="chEvent.event.image != ''" ng-src="/beta/media/customer/{{chEvent.event.image}}" class="img-responsive pull-left" style="max-height:100px">
                                                <b class="big">{{chEvent.event.title}}</b>
                                                <!-- <b class="big">{{chEvent.event.loc}}, {{chEvent.event.state}}</b> -->
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="eve_black_bg eve_top7" ng-show="contactSwitch">

                                            <div class="row" ng-class="{ 'has-error' : feedbackForm.contact_fullname.$invalid && !feedbackForm.contact_fullname.$pristine }">
                                                <div class="col-xs-2 text-right">
                                                    <label for="contact_fullname">Full name</label>
                                                </div>
                                                <div class="col-xs-8 eve_nopad ">
                                                    <input type="text"
                                                    ng-minlength="3" ng-maxlength="100"
                                                    ng-model="feedback.contact_fullname"
                                                    class="form-control eve_w100"
                                                    id="contact_fullname" required name="contact_fullname">
                                                </div>
                                            </div>
                                            <div class="row" ng-class="{ 'has-error' : feedbackForm.contact_email.$invalid && !feedbackForm.contact_email.$pristine }">
                                                <div class="col-xs-2 text-right">
                                                    <label for="contact_email">User Email</label>
                                                </div>
                                                <div class="col-xs-8 eve_nopad ">
                                                    <input type="email" ng-model="feedback.contact_email"
                                                    ng-minlength="3" ng-maxlength="100"
                                                    class="form-control eve_w100 eve_top7"
                                                    id="contact_email" required name="contact_email">
                                                </div>
                                            </div>
                                            <div class="row" ng-class="{ 'has-error' : feedbackForm.contact_enquiry.$invalid && !feedbackForm.contact_enquiry.$pristine }">
                                                <div class="col-xs-2 text-right">
                                                    <label for="contact_enquiry">Enquiry</label>
                                                </div>
                                                <div class="col-xs-8 eve_nopad ">
                                                    <textarea name="enquiry" rows="9"
                                                    ng-minlength="3" ng-maxlength="100"
                                                    class="form-control eve_w100 eve_top7"
                                                    ng-model="feedback.contact_enquiry"
                                                    id="contact_enquiry" name="contact_enquiry" required>
                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="eve_black_bg eve_top7" ng-show="!contactSwitch">

                                            <!--div class="row">
                                                <div class="col-xs-4"><label for="event_name">Event Name</label></div>
                                                <div class="col-xs-8 eve_nopad eve_bold">
                                                    {{chEvent.event.name}}
                                                </div>
                                            </div-->

                                            <div class="row">
                                                <div class="col-xs-4"><label for="event_date">Event Date</label></div>
                                                <div class="col-xs-8 eve_nopad eve_bold">
                                                    {{chEvent.event.date | date:'dd MMMM yyyy' | uppercase}}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-4"><label for="event_start">Start Time</label></div>
                                                <div class="col-xs-8 eve_nopad eve_bold">
                                                    {{chEvent.event.estart | date:'shortTime' | uppercase}}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-4"><label for="event_end">End Time</label></div>
                                                <div class="col-xs-8 eve_nopad eve_bold">
                                                    {{chEvent.event.eend | date:'shortTime' | uppercase}}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-4"><label for="event_loc">Location</label></div>
                                                <div class="col-xs-8 eve_nopad eve_bold">
                                                    {{chEvent.event.loc | uppercase}}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-4"><label for="event_state">State</label></div>
                                                <div class="col-xs-8 eve_nopad eve_bold">
                                                    {{chEvent.event.state | uppercase}}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-4"><label for="event_adm">Admission</label></div>
                                                <div class="col-xs-8 eve_nopad eve_bold">
                                                    {{chEvent.event.type | uppercase}}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-4"><label for="event_cost">Ticket Cost</label></div>
                                                <div class="col-xs-8 eve_nopad eve_bold">
                                                    {{chEvent.event.cost | currency | uppercase}}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-4"><label for="event_age">Age Group</label></div>
                                                <div class="col-xs-8 eve_nopad eve_bold">
                                                    {{chEvent.event.age | uppercase}}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-4"><label for="event_dress">Dress Code</label></div>
                                                <div class="col-xs-8 eve_nopad eve_bold">
                                                    {{chEvent.event.dress | uppercase}}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-4"><label for="event_contact">Point of Contact</label></div>
                                                <div class="col-xs-8 eve_nopad eve_bold">
                                                    {{chEvent.event.contact | uppercase}}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-4"><label for="event_desc">Event Description</label></div>
                                                <div class="col-xs-8 eve_nopad eve_bold">
                                                    {{chEvent.event.desc | uppercase}}
                                                </div>
                                            </div>
                                            
                                            <div class="clearfix"></div>
                                        </div>                                        
                                    </td>
                                </tr>
                                </table>
                            </td>
                            <td style="width:30%;vertical-align:top" class="eve_relative">
                                <table>
                                <tr>
                                    <td>
                                        <div class="text-center" ng-repeat="hoster in curHoster">
                                            <img class="eve_ma_inln" ng-if="hoster.userpic"ng-src="http://gamersseal.com/beta/media/customer/{{hoster.userpic}}" style="max-height:125px">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-xs-12">
                                            <b class="col-xs-12 eve_top7 eve_hl text-center">
                                                Hosted by user:
                                            </b>
                                            <div class="col-xs-12 text-center eve_username" ng-repeat="hoster in curHoster">
                                                {{hoster.name}}
                                            </div>
                                            <table class="col-xs-12 eve_user_hof hidden">
                                                <tr>
                                                    <td>
                                                        <img src="http://gamersseal.com/beta/skin/frontend/rwd/default/images/media/logo.png" class="pull-left eve_mw35">
                                                    </td>
                                                    <td>
                                                        Hall of famer
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <img src="http://gamersseal.com/beta/skin/frontend/rwd/default/images/media/logo.png" class="pull-left eve_mw35">
                                                    </td>
                                                    <td>
                                                        Premium Member
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <img src="http://gamersseal.com/beta/skin/frontend/rwd/default/images/media/logo.png" class="pull-left eve_mw35">
                                                    </td>
                                                    <td>
                                                        Monthly Conributor
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a class="btn eve_btn-contactuser" ng-if="!contactSwitch" ng-click="doSwitch()">CONTACT USER</a>
                                        <a class="btn eve_btn-eventinfo" ng-if="contactSwitch" ng-click="doSwitch()">EVENT INFO</a>
                                        <a class="btn eve_btn-contactuser" ng-if="contactSwitch" ng-click="feedbackForm.$invalid || sendEnquiry()"
                                        ng-disabled="feedbackForm.$invalid">SEND ENQUIRY</a>
                                    </td>
                                </tr>
                                </table>
                            </td>
                        </tr>

                    </tbody>
                </table>
                </form>
            </div>
            <!-- view and contact event /-->